<div class="container w-50 mt-5">
  <form #formUpdate="ngForm" (ngSubmit)="onSubmit(formUpdate.value)" class="form form-control mt-2">
    <strong>Form Update Product</strong>

    <div class="container" style="padding: 50px 50px 50px 285px;">
      <img width="150px" [src]="product.image">
    </div>

    <div class="form-floating mb-3">
      <input ngModel name="title" type="text" class="form-control" placeholder="title..."  >
      <label >{{product.title }}</label>
    </div>

    <div class="form-floating mb-3">
      <input ngModel name="description"  type="text" class="form-control" placeholder="description..." >
      <label>{{ product.description.substring(0,35) }}...</label>
    </div>

    <div class="form-floating mb-3">
      <input ngModel name="price" type="number" class="form-control" placeholder="price..." >
      <label>{{ product.price | currency : 'THB'}}</label>
    </div>

    <button type="submit" class="btn btn-secondary mt-2">Submit</button>
  </form>
</div>
