<nav class="navbar navbar-expand-md bg-dark sticky-top border-bottom" data-bs-theme="dark">
  <div class="container">
    <img width="24" height="24" ngSrc="assets/images/angular-ic.png"/>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
      <div class="offcanvas-body">
        <ul class="navbar-nav flex-grow-2 justify-content-between m-lg-3">
          <li class="nav-item"><a class="nav-link disabled">Ag Standalone Crud Data</a></li>
          <!-- routerLink for access path on rotes.ts -->
          <li class="nav-item"><a class="nav-link" routerLink="/options">Home (Reads,Read,Update,Delete)</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/create">Create</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
