<nav class="navbar navbar-expand-md bg-dark sticky-top border-bottom" data-bs-theme="dark">
  <div class="container">
    <img width="24" height="24" [src]="'assets/images/angular-ic.png'"/>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
      <div class="offcanvas-body">
        <ul class="navbar-nav flex-grow-2 justify-content-between m-lg-3">
          <!-- routerLink for access path on rotes.ts -->
          <ng-container *ngFor="let route of routerLinks;let id = index">
            <ng-container *ngIf="id === 0">
              <li class="nav-item"><a class="nav-link disabled">{{route.label}}</a></li>
            </ng-container>
            <ng-container *ngIf="id !== 0">
              <li class="nav-item"><a class="nav-link" [routerLink]="route.router">{{route.label}}</a></li>
            </ng-container>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>
</nav>
